* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
}

h1 {
    text-align: center;
}

h2 {
    margin: 75px 0 0 0;
}

.box {
    margin: 100px 0 0 0;
    height: 250px;
    text-align: center;
    border: 6px solid white;
    transition: 0.25s ease;
    background: black;
    color: white;
    padding: 10px;
}
